<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>QuestionR</title>
</head>

<body>
  <nav>
    <a href="/login"><img id="logo" src="/assets/img/question.jpg" alt="face logo" /></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/userSettings">Settings</a></div>
  </nav>
  <section id="buildQuiz">
  </section>
  <section id="quizList">
  </section>
  <script src="/assets/mainBundle.js"></script>
</body>

</html>