html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f2f5eb;
}

#logo {
    height: 40px;
    width: 40;
    padding: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #A1CD49;
}

.navlink {
    display: inline-block;
    color: white;
    margin: 5px;
    height: 40px;
    padding: 0 5px 0 5px;
    font-size: 1.8em;
    background-color: #0B5C5C;
    border-radius: 8px;
}

.navlink:hover {
    transition: background-color 0.8s ease;
    background-color: #4B9898;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
}

.icon {
    height: 32px;
    width: 32px;
    border-radius: 4px;
    background-color: #d2ecf6;
    padding: 2px;
}

p {
    margin: 0.8em 0;
}

/* Style related to general panel class */
.panel {
    text-align: center;
    margin: 4px auto;
    border: 2px solid #0B5C5C;
    border-spacing: 2px;
    background-color: #bccd96;
    border-radius: 4px;
    padding: 10px;
    max-width:640px;
    width: 95%;
}

.panel .panel {
    background-color: #eaffba;
}

.panel label {
    font-size: 1.4em;
}

.panel input {
    font-size: 1.4em;
}

.panel .button {
    background-color: #f7ffe6;
    margin: 2px;
    padding: 4px;
    font-size: 0.8em;
}

/* App Quiz List */
#quizListPanel {
    text-align: left;
    margin: 4px auto;
    border: 2px solid #0B5C5C;
    border-spacing: 2px;
    background-color: #e1f5b3;
    border-radius: 4px;
    padding: 10px;
}

#quizListPanel h1, h2 {
    margin: 0;
}

/* App quiz panel */
.quizPanel {
    text-align: left;
}

.quizPanel h1, h2, h3 {
    display: inline-block;
    margin: 0;
}
.quizPanel h3 {
    float: right;
}

.quizPanel .quizDescription {
    font-size: 1.1em;
    margin: 4px;
}

/* App Build Quiz Form Panel */
#buildQuizFormPanel h1 {
    margin: 0;
    font-size: 1.6em;
}

/* User Settings Panel */
#userSettingsPanel {
    text-align: left;
}

#errorMessage {
    color: red;
    font-size: 1.2em;
    font-weight: bold;
}

/* Quiz Builder / Quiz Player Panel */
#quizSaveMessage {
    position: absolute;
    width: 160px;
    bottom: 0px;
    right: 24px;
}

#quizInfoPanel {
    text-align: left;
    margin: 10px;
    font-size: 1.2em;
    color: white;
    border: 2px solid #338acc;
    border-spacing: 2px;
    background-color: #55acee;
    border-radius: 4px;
    padding: 10px;
}

#quizInfoPanel h1, h2 {
    margin: 0;
}

#quizInfoPanel h1 {
    display: inline-block;
}

#quizInfoPanel h2 {
    font-size: 1.2em;
}

#quizURL {
    width: 100%;
    max-width: 420px;
}


#quizName {
    display: block;
    text-align: center;
    background-color: inherit;
    color: white;
    font-size: 1.5em;
    max-width: 100%;
    margin: auto;
}

#quizDescription {
    width: 100%;
    background-color: rgba(0,0,0, 0.1);
    font-size: 1.2em;
    resize: none;
}

.questionPanel {
    text-align: left;
    margin: 10px;
    font-size: 1.2em;
    color: white;
    border: 2px solid #338acc;
    background-color: #55acee;
    border-radius: 4px;
    padding: 10px;
}

.questionTitle {
    background-color: inherit;
    color: white;
    font-size: 1.2em;
    max-width: 100%;
    margin: auto;
}

.questionDescription {
    width: 100%;
    background-color: rgba(0,0,0, 0.1);
    font-size: 1.2em;
    resize: none;
}

.questionType {
    background-color: rgba(0,0,0, 0.1);
    font-size: 0.7em;
}

.questionInput {
    background-color: inherit;
    color: white;
    font-size: 1.0em;
    max-width: 100%;
    margin: auto;
}

.questionInputNumeric {
    width: 160px;
}

.quizBuilderButton {
    background-color: rgba(0,0,0, 0.1);
    color: white;
    font-size: 0.8em;
    padding: 2px;
}

.deleteQuestion {
    float: right;
}

.questionPlayerButton {
    float: right;
    background-color: rgba(0,0,0, 0.1);
    color: white;
    font-size: 0.6em;
}

.ad {
    max-width: 100%;
    width: 320px;
}